.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.formulario > div {
    display: flex;
}
.link {
    display: flex;
    flex: 1;
    margin: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}